@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes sweepIn {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

.Spotify-Container{
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    margin-bottom: 25px;
}

.Spotify-Container .Line{
    background: #121212;
    width: 80%;
    height: 1px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0.1;
    animation: sweepIn 2s backwards;
    animation-delay: 0.9s;
}

.Spotify-Wrapper{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    width: 80%;
    gap: 30px;
    margin: auto;
}

.Spotify-Wrapper h1{
    font-size: 40px;
    animation: popOut 0.5s backwards;
    animation-delay: 1.1s;
    order: 2;
}

.Spotify-Wrapper iframe{
    border-radius: 20px;
    width: 50%;
    height: auto;
    max-width: 840px; 
    aspect-ratio: 16 / 9;
    animation: popOut 0.5s backwards;
    animation-delay: 1.1s;
    order: 1;
}

@media (max-width: 1588px) {
    .Spotify-Container .Line{
        width: 80%;
    }

    .Spotify-Container iframe{
        aspect-ratio: 15 / 9;
    }

    .Spotify-Wrapper{
        align-items: center;
    }
}


@media (max-width: 1440px) {
    .Spotify-Container .Line{
        width: 60%;
    }

    .Spotify-Wrapper h1{
        font-size: 30px;
    } 

    .Spotify-Container iframe{
        aspect-ratio: 8 / 7;
    }

    .Spotify-Wrapper{
        align-items: center;
    }
}

@media (max-width: 1024px) {
    .Spotify-Container .Line{
        width: 50%;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .Spotify-Wrapper h1{
        font-size: 20px;
    }

    .Spotify-Wrapper{
        display: block;
        margin: auto;
    }

    .Spotify-Wrapper iframe{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .Spotify-Container .Line{
        width: 80%;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .Spotify-Wrapper iframe{
        width: 100%;
    }
}

@media (max-width: 503px) {
    .Spotify-Container .Line{
        width: 80%;
        margin-top: 8px;
        margin-bottom: 10px;
    }

    .Spotify-Container iframe{
        aspect-ratio: 1 / 2;
    }

    .Spotify-Wrapper iframe{
        width: 100%;
    }
}